# Copy this file to .env for local/Docker development

DB_NAME=MainDB
MSSQL_SA_PASSWORD=CHANGE_ME

PASSWORD_PEPPER=CHANGE_ME

JWT_KEY=CHANGE_ME_AtLeast32Chars
JWT_ISSUER=TrainingApi
JWT_AUDIENCE=TrainingApiClient
JWT_ACCESS_TOKEN_EXPIRES_MIN=2
JWT_REFRESH_TOKEN_EXPIRES_MIN=21600